@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Asap";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url("/fonts/asap/Asap-Regular.woff2") format("woff2");
	}

	@font-face {
		font-family: "Asap";
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url("/fonts/asap/Asap-Medium.woff2") format("woff2");
	}

	@font-face {
		font-family: "Asap";
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url("/fonts/asap/Asap-SemiBold.woff2") format("woff2");
	}

	@font-face {
		font-family: "Asap";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/asap/Asap-Bold.woff2") format("woff2");
	}

	@font-face {
		font-family: "Asap";
		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url("/fonts/asap/Asap-ExtraBold.woff2") format("woff2");
	}

	:root {
		/* custom spring easing */
		/* spring({ stiffness: 400, damping: 40, mass: 1, velocity: 0 }) */
		--ease-spring: linear(
			0,
			0.0089,
			0.0326,
			0.067,
			0.1089,
			0.1558,
			0.2057,
			0.2569,
			0.3083,
			0.3589,
			0.4082,
			0.4555,
			0.5005,
			0.5431,
			0.5831,
			0.6204,
			0.6551,
			0.6872,
			0.7168,
			0.744,
			0.7689,
			0.7917,
			0.8125,
			0.8314,
			0.8486,
			0.8641,
			0.8782,
			0.8909,
			0.9024,
			0.9127,
			0.922,
			0.9304,
			0.9379,
			0.9446,
			0.9507,
			0.9561,
			0.9609,
			0.9652,
			0.9691,
			0.9725,
			0.9756,
			0.9783,
			0.9808,
			0.9829,
			0.9849,
			0.9866,
			0.9881,
			0.9895,
			0.9907,
			0.9918,
			0.9927,
			0.9935,
			0.9943,
			0.995,
			0.9955,
			0.9961,
			0.9965,
			0.9969,
			0.9973,
			0.9976,
			0.9979,
			0.9981,
			0.9984,
			0.9985,
			0.9987,
			0.9989,
			0.999,
			0.9991,
			0.9992,
			0.9993,
			0.9994,
			0.9995,
			0.9995,
			0.9996,
			0.9996,
			0.9997,
			0.9997,
			0.9998,
			0.9998,
			0.9998,
			0.9998,
			0.9999,
			0.9999,
			0.9999,
			0.9999,
			0.9999,
			0.9999,
			0.9999,
			0.9999,
			0.9999,
			1,
			1,
			1,
			1,
			1,
			1,
			1,
			1,
			1,
			1,
			1
		);
	}

	html {
		@apply font-asap;
	}

	body {
		@apply bg-sky-shade-20;
		@apply text-sky-900;
	}
}

@layer utilities {
	.text-base.font-medium {
		font-weight: 520;
	}
}
